.home-page .banner img{
    width: 100%;
    height: 600%;
}

.home-page .store-name-text{
    position: absolute;
    width: 100%;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-page .store-name-text h1{
    padding-left: 39%;
    font-size: 120px;
    font-family: papyrus;
    color: rgb(182, 30, 3);
}

.home-page .store-name-text h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 45%;
    margin-top: 3%;
    color: rgb(182, 30, 3);
}
.promo-img{
    display: flex;
    margin: auto; 
    align-items: center;
}

.promo-img .img2{
    height: 500%;
    left: 50%;
    margin: auto;
    display: flex;
  
}

.promo-img .link-btn{
    display: flex;
    margin: 10px 10px 20px 10px;
    align-items: center;
    font-family: fantasy;
    text-decoration: none;
    background-color: none;
}
