.product{
    border: 1px solid rgb(255, 173, 186);
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(255, 173, 186);
    background-color:hsl(27, 53%, 49%, 0.3) ;
   
}

.product .price, .product .total{
    display: block;
}
.product #add{
    margin-top: 5px;
}
div.product{
    color:hsl(27, 53%, 49%,) ;
}